<input id="close" type="checkbox">
<div class="chat-window">

    <input id="trigger" type="checkbox">
    <label for="trigger" class="top">
      <div class="online"></div> AUT Smartbot
      
      <label for="close" class="close">×</label>
    </label>

  <div class="chat">
    <form #questions="ngForm">
      <div class="conversation">
        <div class="damn">
          <img src="assets/bot.png" alt="">
          <div class="name">AUT Bot</div>
          <div class="message">
            {{"Hi there"}}
          </div>  
          <div class="clear"></div>
        </div>
        <div *ngFor="let question of listOfQuestions; let k = index; let l = last">
          <div class="msg">
              <div class="damn me">
                <img src="assets/user.png" alt="">
                <div class="name">User</div>
                  <div *ngIf="question" class="message">{{question}}</div>
                <div class="clear"></div>
              </div>
          </div>

          <div class="damn">
          <img src="assets/bot.png" alt="">
            <div class="name">AUT Bot</div>
                <div class="message">
                  <div *ngIf='listOfResults[k]' class="showText">
                    <div *ngIf='listOfResults[k]' class="msg">
                      {{listOfResults[k]}}
                    </div>
                  </div>
                </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="response">
        <input autocomplete="off" [(ngModel)]="newQuestion" name="newQuestion" placeholder="Question" autofocus>
        <button class="ask" id="submit" type="submit" (click)="askQuestion(questions.value)">Ask me</button>
      </div>
    </form>
  </div>
</div>
